@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 
    height: 100vh;
}









.post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }
  .ql-syntax {
    background-color: #0a0a0a;  /* Light gray background for the code block */
    color: #f1efef;  /* Text color */
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;  /* Horizontal scroll for long code */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    font-size: 0.9rem; /* Slightly smaller font size */
    direction: ltr; 
  }
  


  /* Base editor styles */
.ql-editor {
  font-family: 'Tajawal', sans-serif; /* Example Arabic font for RTL */
  font-size: 1.2rem;
  line-height: 1.8;
}

/* Styles for RTL */
.ql-editor[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

/* Styles for LTR */
.ql-editor[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

/* Code block styling (LTR by default) */
.post-content {
  line-height: 1.8;
  font-size: 1.1rem;
}

.post-content[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

.post-content[dir="ltr"] {
  direction: ltr;
  text-align: left;
}
